<!DOCTYPE html>
<html>
	<head>
		<title>
			Virtual DOM
		</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>

    <div class="container">
      <div class="row">
        <h2>Angular Table</h2>
        <table ng-app="myApp" class="table table-striped table-bordered">
          <tbody ng-controller="tableController">
            <tr ng-repeat="cols in rows track by $index">
              <td ng-repeat="val in cols track by $index">
                {{val}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="common.js"></script>
    <script>
      angular.module('myApp', [])
        .controller('tableController', function($scope, $window){
          $scope.rows = getData()

					$window.setInterval(function raf() {
						$scope.rows = getData();
						$scope.$digest()
						//$window.requestAnimationFrame(raf);
					, 0})
        });
    </script>
  </body>
</html>
